{% load static %}

<div id="menu">
  <div class="titulo">
    <h1>SalaRitter<br />{{ turma.turma }}</h1>
  </div>
  <div id="opcoes">
    <div class="elemento-com-imagem">
      <a href="{% url 'listaAlunos' turma.id %}">
        <img src="{% static 'imagens/aluno.png' %}" alt="Descrição da imagem" />
        Lista Alunos
      </a>
    </div>

    <div class="elemento-com-imagem">
      <a href="#">
        <img src="{% static 'imagens/modificar.png' %}" alt="Descrição da imagem" />
        Cadastrar Atividades
      </a>
    </div>

    <div class="elemento-com-imagem">
      <a href="#">
        <img src="{% static 'imagens/atividade.png' %}" alt="Descrição da imagem" />
        Atividades Realizadas
      </a>
    </div>
  </div>
</div>
