body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  
  .login-form h1 {
    text-align: center;
    color: #75DA73;
    padding-bottom: 23px;
  }
  
  .clearfix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input {
    padding: 10px;
    background-color: #E7E7E7;
    border: unset;
    width: 350px;
  }
  
  input:focus {
    outline: 2px solid #75DA73;
  }
  
  button {
    color: #fff;
    background-color: #75DA73;
    border: unset;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 200px;
    border-radius: 15px;
    height: 39px;
  }
  
  button:hover {
    background-color: white;
    border-color: #75DA73;
    border-width: 3px;
    border-style: solid;
    color: black;
  }
  
  .image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    width: 100%;
  }
  
  .formulario {
    height: 100vh;
    top: 0;
    right: -50px;
    width: 55%;
    min-width: 650px;
    position: absolute;
    float: right;
    background-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .label-input {
    margin-bottom: 20px;
    background-color: #E7E7E7;
  }
  
  .icon-modify {
    color: #757575;
    padding: 5px 5px;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}