@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    height: 100vh;
    width: 250px;
    background-color: #E7E7E7;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    align-items: center;
}

#menu h3 {
    color: #104E00;
    text-align: center;
    padding: 20px;
}

#menu a {
    color: black;
    display: block;
    height: 45px;
    padding: 8px;
    padding-left: 12px;
    text-align: center;
}

#menu a:hover {
    background-color: white;
    border-radius: 30px;
}

.titulo {
    color: white;
    background-color: #75DA73;
    height: 100px;
    text-align: center;
    margin: 0;
}

.titulo h1 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: unset;
}

.sidebar {
    border-radius: 3px;
    width: 200px;
    padding: 10px;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.center-content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-bottom: 30px;
}

.atividades-alunos {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #666e72;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.questao {
    padding: 25px;
    margin: 0;
}

.answer-form {
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#enviarBtn {
    padding: 5px;
    cursor: pointer;
    display: block;
    border-radius: 20px;
    height: 40px;
    background-color: #69C9FF;
    color: white;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    border: unset;
}

#enviarBtn:focus{
    outline: none;
}

.atividade-conteudo {
    display: none;
    border-radius: 5%;
    min-width: 200px;
    z-index: 1;
    padding: 10px;
}

.atividade-conteudo.active {
    display: block;
}

.dropbtn {
    background-color: #EAEAEA;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    width: 700px;
    height: 55px;
    font-size: 21px;
}

.atividades-alunos .dropbtn:focus {
    border: unset;
}

.titulo-atividade{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-top: 20px;
    height: 15vh;
    color: #104E00;
}

.dropbtn:focus {
    outline: none
}

#resposta{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border-color: #75DA73;
}

span.meio {
    padding-left: 12%;
}

span.status-entregue {
    float: right;
    font-size: 15px;
    background-color: #57ff5761;
    color: #026202;
    width: 72px;
    border-radius: 20px;
    height: 25px;
}

span.status-pendente {
    float: right;
    font-size: 15px;
    background-color: #a85cff61;
    color: #600dfb;
    width: 72px;
    border-radius: 20px;
    height: 25px;
}