@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Open San', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    height: 100vh;
    width: 250px;
    background-color: #E7E7E7;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    align-items: center;
}

#menu h3 {
    color: #104E00;
    text-align: center;
    padding: 20px
}

#menu a {
    color: black;
    display: block;
    height: 45px;
    padding: 8px;
    padding-left: 12px;
    text-align: center;
}

#menu a:hover {
    background-color: white;
    border-radius: 30px;
}

#content {
    margin-left: 200px;
    padding: 16px;
}

.titulo {
    color: white;
    background-color: #75DA73;
    height: 100px;
    text-align: center;
    margin: 0px;
}

.titulo h1 {
    margin: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: unset;
}

img {
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: center/cover no-repeat;
    display: grid;
    place-items: center;
}

#opcoes a {
    color: #000000;
    display: block;
}

.divTableAluno {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 20vh;
    padding-left: 200px;
}

table {
    width: 55%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

.topoTabela {
    background-color: #75DA73;
    text-align: center;
}

.elemento-com-imagem {
    padding: 30px;
    display: block;
    padding-left: 10px;
}

/* Aqui é o CSS do painel do aluno*/ 

.sidebar {     
    border-radius:3px;
    width: 200px;
    padding:10px; 
}
#menu {
    height: 100vh;
    width: 250px;
    position: fixed;
    overflow-x: hidden;
    align-items: center;
}

#sidebar {
    color: #104E00;
    text-align: center;
    padding: 20px
}
ul {
    list-style-type: none;
  }