body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    height: 100vh;
    width: 250px;
    background-color: #E7E7E7;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    align-items: center;
}

#menu h3{
    color: #104E00;
    text-align: center;
    padding: 20px
}

#menu a {
    padding: 15px;
    text-decoration: none;
    color: #000000;
    display: block;
    text-align: center;
}

#menu a:hover {
    background-color: white;
}

#content {
    margin-left: 200px;
    padding: 16px;
}

.titulo{
    color: white;
    background-color: #75DA73;
    height: 100px; 
    text-align: center;
    margin: 0px;
}

.titulo h1{
    margin: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img {
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: center/cover no-repeat;
    display: grid;
    place-items: center;
}

#opcoes a {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-decoration: none;
    color: #000000;
    display: block;
    text-align: center;
}