@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Open San', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    height: 100vh;
    width: 250px;
    background-color: #E7E7E7;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    align-items: center;
}

#menu h3 {
    color: #104E00;
    text-align: center;
    padding: 20px
}

#menu a {
    color: black;
    display: block;
    height: 45px;
    padding: 8px;
    padding-left: 12px;
    text-align: center;
}

#menu a:hover {
    background-color: white;
    border-radius: 30px;
}

#content {
    margin-left: 200px;
    padding: 16px;
}

.titulo {
    color: white;
    background-color: #75DA73;
    height: 100px;
    text-align: center;
    margin: 0px;
}

.titulo h1 {
    margin: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: unset;
}

img {
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: center/cover no-repeat;
    display: grid;
    place-items: center;
}

#opcoes a {
    color: #000000;
    display: block;
}

.divTableAluno {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 20vh;
    padding-left: 200px;
}

table {
    width: 55%;
    border-collapse: collapse;
    border-radius: 25px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

.topoTabela {
    background-color: #75DA73;
    text-align: center;
}

.elemento-com-imagem {
    padding: 30px;
    display: block;
    padding-left: 10px;
}

/* Aqui é o CSS do painel do aluno*/

.sidebar {
    border-radius: 3px;
    width: 200px;
    padding: 10px;
}

#menu {
    height: 100vh;
    width: 250px;
    position: fixed;
    overflow-x: hidden;
    align-items: center;
}

#sidebar {
    color: #104E00;
    text-align: center;
    padding: 20px
}

ul {
    list-style-type: none;
}

.form {
    display: flex;
    height: 80vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    margin-top: 35px;
}

.form label {
    text-align: left;
}

.form input{
    padding-left: 10px;
    border-radius: 20px;
    height: 45px;
    padding: 12px;
}

.form textarea {
    padding-left: 10px;
    border-radius: 20px;
    height: 220px;
    padding: 12px;
    width: 500px;
}

.form textarea#description {
    height: 220px;
    resize: none;
}

.form select {
    padding-left: 10px;
    border-radius: 20px;
    height: 45px;
}

.form select,
option {
    text-align: center;
}

.form button {
    border-radius: 20px;
    height: 40px;
    background-color: #75DA73;
    color: white;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    border: unset;
}

.atividades-alunos {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #666e72;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.questao {
    padding: 25px;
    margin: 0;
}

.answer-form {
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#enviarBtn {
    padding: 5px;
    cursor: pointer;
    display: block;
    border-radius: 20px;
    height: 40px;
    background-color: #69C9FF;
    color: white;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    border: unset;
}

#enviarBtn:focus{
    outline: none;
}

.atividade-conteudo {
    display: none;
    border-radius: 5%;
    min-width: 200px;
    z-index: 1;
    padding: 10px;
}

.atividade-conteudo.active {
    display: block;
}

.dropbtn {
    background-color: #EAEAEA;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    width: 900px;
    height: 55px;
    font-size: 21px;
}

.atividades-alunos .dropbtn:focus {
    border: unset;
}

.titulo-atividade{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-top: 20px;
    height: 15vh;
    color: #104E00;
}

.dropbtn:focus {
    outline: none
}

#resposta{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border-color: #75DA73;
}

.center-content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-bottom: 30px;
}

.divTableAtividades {
    flex-grow: 1;
    justify-content: center;
}

.divTableAtividades table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 25px;
    overflow: hidden;
}

.atividades-professor{
    padding-top: 20px;
}