<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Lateral</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style/professor.css' %}">
  
</head>
<body>

  <div id="menu">
    <div class="titulo">    
      <h1>SalaRitter</h1>
    </div>
    <h3>Minhas turmas</h3>
    {% for turmas in turma %}
    <a href="{% url 'painelTurmas' turmas.id %}">{{turmas.turma}}</a>
    {% endfor %}
    <!-- Adicione mais itens conforme necessário -->
  </div>
</body>
</html>