<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Lateral</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style/menu.css' %}">
  
</head>
<body>

  <div id="menu">
      <h3 style="color:rgb(2, 87, 2); text-align: center;">Minhas turmas</h3>
    <a href="#">Turma 201</a>
    <a href="#">Turma 202</a>
    <a href="#">Turma 203</a>
    <a href="#">Turma 304</a>
    <!-- Adicione mais itens conforme necessário -->
  </div>

</body>
</html>