{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}
  Painel Turma
{% endblock %}

{% block css %}
  {% static 'style/painel_aluno.css' %}
{% endblock %}

{% block content %}
  {% include 'partials/menuControleAluno.html' %}

  <div class="titulo-atividade">
    <h1>Atividades</h1>
  </div>

{% for atividades in atividade %}
  <div class="center-content">
    <div class="atividades-alunos">
      {% if atividades.status == 'Entregue'%}
        <button class="dropbtn" onclick="toggleContent(this)"><span class="meio">{{ atividades.titulo }}</span><span class="status-entregue">{{atividades.status}}</span></button>
      {% else %}
        <button class="dropbtn" onclick="toggleContent(this)"><span class="meio">{{ atividades.titulo }}</span><span class="status-pendente">{{atividades.status}}</span></button>
      {% endif %}
      <div class="atividade-conteudo" id="conteudo">
        <div class="questao">
          <p>{{ atividades.descricao }}</p>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="answer-form">
            {% if atividades.status == 'Entregue'%}
              <textarea type="text" id="resposta" name="resposta" readonly>Sua resposta: {{ atividades.resposta }}</textarea>
            {% else %}
              <textarea type="text" id="resposta" name="resposta" placeholder="Digite sua resposta..."></textarea>
              <input type="hidden" name="id" value={{atividades.id}}>
              <button id="enviarBtn">Enviar</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}


  <script>
    function toggleContent(button) {
      // Encontra a div pai do botão
      var parentDiv = button.parentElement
    
      // Encontra a div filha com a classe 'atividade-conteudo' dentro da div pai
      var content = parentDiv.querySelector('.atividade-conteudo')
    
      // Alterna a classe 'active' na div
      content.classList.toggle('active')
    }
  </script>

  <script>
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
</script>

{% endblock %}
