{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}
  Painel Turma
{% endblock %}

{% block css %}
  {% static 'style/painel_aluno.css' %}
{% endblock %}

{% block content %}
  {% include 'partials/menuControleAluno.html' %}

  <div class="titulo-atividade">
    <h1>Atividades</h1>
  </div>

  {% for atividades in atividade %}
    <div class="center-content">
      <div class="atividades-alunos">
        <button class="dropbtn" onclick="toggleContent(this)">{{ atividades.titulo }}</button>
        <div class="atividade-conteudo" id="conteudo">
          <!--CRIANDO FORMULARIO COM NOME DO ALUNO E ATIVIDADE CONCLUIDA -->
          
          
           
        </div>
      </div>
    </div>
  {% endfor %}

  <script>
    function toggleContent(button) {
      // Encontra a div pai do botão
      var parentDiv = button.parentElement
    
      // Encontra a div filha com a classe 'atividade-conteudo' dentro da div pai
      var content = parentDiv.querySelector('.atividade-conteudo')
    
      // Alterna a classe 'active' na div
      content.classList.toggle('active')
    }
  </script>

  <script>
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
</script>

{% endblock %}
