<!DOCTYPE html>
{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}
  Painel Turma
{% endblock %}

{% block content %}
  {% include 'partials/menuControle.html' %}

  <div class="table table-striped divTableAluno">
    <div class="form">
      <form method="post">
        {% csrf_token %}
        <div class="form">
          <label for="name">Título:</label>
          <input style="width: 500px;" type="text" id="titulo" name="titulo" required /><br />
          <label for="description">Descrição:</label>
          <textarea type="description" id="descricao" name="descricao" required></textarea><br />
          <button class="buttonForm" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
</script>

{% endblock %}
