{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}
  Painel Turma
{% endblock %}

{% block content %}
  {% include 'partials/menuControle.html' %}

  <div class="atividades-professor">
    <!-- for para exxibir as atividades cadastradas pelo professor -->
    {% for atividades in atividade %}
      <div class="center-content">
        <div class="atividades-alunos">
          <button class="dropbtn" onclick="toggleContent(this)">{{ atividades.titulo }}</button>
          <div class="atividade-conteudo" id="conteudo">
            <div class="table table-striped divTableAtividades">
              <table border="1">
                <thead class="topoTabela">
                  <tr>
                    <th>Nome do aluno</th>
                    <th>Resposta</th>
                  </tr>
                </thead>
                <!-- for para comprar se as atividades cadastradas pelo professor é igual as astividades realizadas pelo alunos-->
                {% for atividade_conluidas in atividade_conluida %}
                  {% if atividade_conluidas.atividade.id == atividades.id %}
                    <tr>
                      <td>{{ atividade_conluidas.aluno.nome }}</td>
                      <td>{{ atividade_conluidas.resposta }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <script>
    function toggleContent(button) {
      // Encontra a div pai do botão
      var parentDiv = button.parentElement
    
      // Encontra a div filha com a classe 'atividade-conteudo' dentro da div pai
      var content = parentDiv.querySelector('.atividade-conteudo')
    
      // Alterna a classe 'active' na div
      content.classList.toggle('active')
    }
  </script>

  <script>
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
</script>
{% endblock %}
